- 2nd column, matches the faculty naming pattern. That's where the index starts. Automate it this way. 
- Remove the first 0 in the values of section rows if there are any.

In [1]:
# from scripts.script import faculty_df, course_catalog, faculty_finder

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("../dataset/fall_data.xlsx")

In [3]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Class Schedule for Fall - 2024 (Undergraduate),NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-09 00:00:00
2,Day /Time,8:00 - 9:20 am,9:25 - 10:45 am,10:50 - 12 : 10 pm,12:15 : 1 : 35 pm,1 : 40 : 3:00 pm,3 : 05 - 4:25 pm,4 : 30 - 5:50 pm
3,S &T,BUS 1101 - 7 - PD 306 - SHCY,BUS 4154 - 1 - PD 201 - AB,BBS 2102 - 1 - PA 403 - SharN,BUS 1101 - 2 - PD 203 - ArI,BBS 1201 - 01 - PA 209 - SharN,BBS 1101 - 1 - PC 205 - SRAL,BBS 1302 - 1 - PD 105 - SaliK
4,NaN,BUS 1301 - 4 - PD 109 - ShS,BUS 1201 - 8 - PD 104 - SA,BBS 2201 - 1 - PA 211 - BAK,BBS 2303 - 1 - PA 407 - LA,BBS 1301 - 1 - PA 408 - SAT,BUS 1301 - 2 - PD 209 -EAZ,BUS 1101 - 6 - PD 309 - OA
...,...,...,...,...,...,...,...,...
165,NaN,NaN,KAM - Kader Abdul Muhammad,NaN,NaN,NaN,NaN,NaN
166,NaN,NaN,KIslam - Khairum Islam,NaN,NaN,NaN,NaN,NaN
167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,NaN,'R' means Thursday and 'A' means Saturday,NaN,NaN,NaN,NaN,NaN,NaN
169,NaN,Blended: These courses will have one online an...,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.dtypes

Unnamed: 0    object
Unnamed: 1    object
Unnamed: 2    object
Unnamed: 3    object
Unnamed: 4    object
Unnamed: 5    object
Unnamed: 6    object
Unnamed: 7    object
dtype: object

In [9]:
df = df.drop(df.columns[0], axis=1)
df = pd.concat([df[column] for column in df.columns], ignore_index=True)
df = df.dropna()
df = df.str.split('-', n=1, expand=True)

In [10]:
df.dtypes

0    object
1    object
dtype: object

In [11]:
df

              0                      1
2         8:00                 9:20 am
3     BUS 1101      7 - PD 306  - SHCY
4     BUS 1301        4 - PD 109 - ShS
5     BUS 1302       4 - PD 110 - SKHS
6     BUS 2101       3 - PD 209 - GAU
...         ...                    ...
1176       UAJ           Umana Anjalin
1177       UKA    Uttam Karmaker Aurko
1178        WA             Wazir Ahmad
1179        WH           Wahidur Habib
1180       ZAh            Zunaid Ahmed

[1003 rows x 2 columns]

In [14]:
import pandas as pd

# Create a DataFrame with mixed data types in a single column
data = {
    'mixed_column': [1, 'two', 3.0, None, True]
}

df = pd.DataFrame(data)

print(df)
print(df.dtypes)

  mixed_column
0            1
1          two
2          3.0
3         None
4         True
mixed_column    object
dtype: object

In [15]:
df

  mixed_column
0            1
1          two
2          3.0
3         None
4         True

In [13]:

df.iloc[:, 0] = df.iloc[:, 0].apply(lambda s: s.strip())

AttributeError: 'float' object has no attribute 'strip'

In [4]:
def verify_faculty(s):
    words = s.split()
    return len(words) == 1 and words[0].isalpha()

def faculty_df(df): 
    df = df.drop(df.columns[0], axis=1)
    df = pd.concat([df[column] for column in df.columns], ignore_index=True)
    df = df.dropna()
    df = df.str.split('-', n=1, expand=True)
    df.iloc[:, 0] = df.iloc[:, 0].apply(lambda s: s.strip())
    df = df[df.iloc[:, 0].apply(lambda s: verify_faculty(s))]
    df = df.rename(columns={0: 'code', 1: 'name'})
    df.loc[:, 'code'] = df.loc[:, 'code'].apply(lambda s: s.strip())
    df.loc[:, 'name'] = df.loc[:, 'name'].apply(lambda s: s.strip())

    new_row = pd.DataFrame([{'code': 'TBA', 'name': 'To be announced'}])
    df = pd.concat([df, new_row], ignore_index=True)
    
    return df

This function for some reason doesn't work
```python
def course_catalog (df):
    df = df.drop(df.columns[0], axis = 1)
    df = pd.concat([df[column] for column in df.columns], ignore_index=True)
    df = df.dropna()
    
    print(len(df))
    pattern = r'([A-Z]{3} \d{3}.*)'
    df = df.str.extract(pattern).dropna()
    print(len(df))
    df = df.iloc[:, 0].str.split('-', expand = True)
    print(len(df))
    df.iloc[:, 3] = df.iloc[:, 3].apply(lambda s: s.split()[0])
    df = df.drop(df.columns[[2,4]], axis = 1)
    df.rename(columns={0: 'cc',
                       1: 'section',
                       3: 'faculty'},
              inplace = True)
    df = df.map(lambda s: s.strip())
    df.loc[:, 'section'] = df.loc[:, 'section'].apply(lambda s: s.lstrip('0'))
    
    return df
```

In [5]:
def courses_catalog(df: pd.DataFrame):
    df = df.drop(df.columns[0], axis = 1)
    df = pd.concat([df[column] for column in df.columns], ignore_index=True)
    df = df.dropna()


    pattern = r'([A-Z]{3} \d{3}.*)'
    df = df.str.extract(pattern)

    df = df.dropna()
    df = df.iloc[:, 0].str.split('-', expand = True)
    df.iloc[:, 3] = df.iloc[:, 3].apply(lambda s: s.split()[0])
    df = df.drop(df.columns[[2,4]], axis = 1)
    df.rename(columns={0: 'cc',
                       1: 'section',
                       3: 'faculty'},
              inplace = True)
    df = df.map(lambda s: s.strip())
    df.loc[:, 'section'] = df.loc[:, 'section'].apply(lambda s: s.lstrip('0'))

    return df

In [6]:
def faculty_finder(courses: pd.DataFrame,
                   faculty: pd.DataFrame,
                   cc: str,
                   sec: str):
    row = courses[(courses['cc'] == cc) & (courses['section'] == sec)].loc[:, 'faculty']
    print(row)
    row = row.iloc[0]
    fac = faculty.loc[faculty.loc[:, 'code'] == row].loc[:, 'name'].item()
    
    return fac

In [7]:
faculty = faculty_df(df)
courses = courses_catalog(df)

AttributeError: 'float' object has no attribute 'strip'

In [9]:
faculty

      code                              name
0     AAhM                        Azaz Ahmed
1    AAhMM                  Arwin Ahmad Mitu
2     AAMM                Abdullah Al Mahmud
3      AAR  Ahmed Abidur Razzaque Khan (GED)
4      AbM                      Abdul Mannan
..     ...                               ...
150    UKA              Uttam Karmaker Aurko
151     WA                       Wazir Ahmad
152     WH                     Wahidur Habib
153    ZAh                      Zunaid Ahmed
154    TBA                   To be announced

[155 rows x 2 columns]

In [10]:
courses

            cc section faculty
3     BUS 1101       7    SHCY
4     BUS 1301       4     ShS
5     BUS 1302       4    SKHS
6     BUS 1302       5     TBA
7      BUS 202       1     TBA
...        ...     ...     ...
1145  ESK 1110      12     TBA
1146  ESK 1111       3    SHCy
1147  ESK 1111       8    SHCy
1148  ESK 1112       8    SHCy
1149  ESK 1113       1    SHCy

[821 rows x 3 columns]

In [30]:

cc = "GEF 1201"
sec = "18"

In [31]:
courses[courses['cc'] == cc]

            cc section faculty
33    GEF 1201      18     TBA
84    GEF 1201      10     TBA
207   GEF 1201       6     IrM
208   GEF 1201       8     FHS
262   GEF 1201      16     TBA
434   GEF 1201      14     TBA
435   GEF 1201       5     HAN
552   GEF 1201       3     IrM
553   GEF 1201       4     FHS
600   GEF 1201      12      RS
601   GEF 1201      15     TBA
602   GEF 1201      17     TBA
725   GEF 1201       9     TBA
771   GEF 1201      11      RS
900   GEF 1201       1    AmiS
949   GEF 1201       2     FHS
1059  GEF 1201       7    TazA
1113  GEF 1201      13    AmiS

In [32]:
faculty_finder(courses, faculty, cc, sec)

33    TBA
Name: faculty, dtype: object

'To be announced'

In [14]:
courses.head()

         cc section faculty
3  BUS 1101       7    SHCY
4  BUS 1301       4     ShS
5  BUS 1302       4    SKHS
6  BUS 1302       5     TBA
7   BUS 202       1     TBA

In [15]:
courses[courses['section'] == '2']

                        cc section faculty
17                CSE 2103       2      FK
34                MAT 0099       2      IH
45    SSC 4147 / MSJ 11401       2     MaN
68                CSE 2203       2    MNMA
74       CSE 3301/ CSE 433       2     TBA
...                    ...     ...     ...
1068              PHY 1101       2     TBA
1087              BUS 3201       2   MinUA
1088              BUS 3202       2     ZAh
1108              ENG 2203       2     JNT
1111              GED 2159       2     AAR

[112 rows x 3 columns]

In [16]:
courses.loc[:, 'section'] = courses.loc[:, 'section'].apply(lambda s: s.lstrip('0'))

In [17]:
courses

            cc section faculty
3     BUS 1101       7    SHCY
4     BUS 1301       4     ShS
5     BUS 1302       4    SKHS
6     BUS 1302       5     TBA
7      BUS 202       1     TBA
...        ...     ...     ...
1145  ESK 1110      12     TBA
1146  ESK 1111       3    SHCy
1147  ESK 1111       8    SHCy
1148  ESK 1112       8    SHCy
1149  ESK 1113       1    SHCy

[821 rows x 3 columns]